<div class="grid-container">
    <!-- <h2 class="mat-h3">{{pageName}}</h2> -->
    <div style="padding-left: 1%;padding-bottom: 1%;">
        <mat-card>
            <mat-card-content>
                <app-onbase-shared-explorer-search></app-onbase-shared-explorer-search>
            </mat-card-content>
            <mat-card-actions style="text-align: left;">
                <button mat-raised-button style="width: 10%;background-color: #300c46;color:white">Search</button>
                <button mat-raised-button style="width: 10%;background-color: #300c46;color:white">Reset</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div style="padding-left:1%">
        <mat-card>
            <mat-card-content>
                <label>Search Result</label>
            </mat-card-content>
            </mat-card>
    </div>
</div>