<app-header></app-header>
<div class="main_content" (mouseover)="sideNavClose()">
  <div class="col-lg-12">
      <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
<!-- <mat-sidenav-container class="sidenav-container side_nav_shadow" style="">
    <mat-sidenav class="side_nav_shadow" #leftSidenav mode="side" style="padding-top: 3%;
    color: white;
    background-color: #300c46;">
      <app-side-menu-bar></app-side-menu-bar>
    </mat-sidenav>
    <mat-sidenav-content>

    </mat-sidenav-content>
  </mat-sidenav-container> -->